

.aboutus .container-content-aboutus {
    margin: auto 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus .container-content-aboutus .title-content-aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus .container-content-aboutus .title-content-aboutus h1 {
    font-size: 50px;
    font-family: 'Brush Script MT', monospace;
    margin: 0 0 20px;
}

.aboutus .container-content-aboutus .title-content-aboutus h3, .aboutus .container-content-aboutus .comeback-content-aboutus h3, .aboutus .container-content-aboutus .content-criteria h3 {
    margin: 10px 0 35px;
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: #c09440;
}

.aboutus .container-content-aboutus .content-content-aboutus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    line-height: 30px;
}

.aboutus .container-content-aboutus .content-content-aboutus p {
    width: 48.5%;
}

.aboutus .container-content-aboutus p span {
    padding: 5px;
    margin-right: 3px;
    background-color: #c09440;
    color: #fff;
}

.aboutus .container-content-aboutus .content-content-aboutus p {
    padding-bottom: 20px;
    font-family: 'Avenr', Courier;
}

/* su tro ve */
.aboutus .container-content-aboutus .comeback-content-aboutus {
    padding: 0 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}

.aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback {
    display: flex;
}

.aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback img {
    width: 50%;
}

.aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback div {
    width: 50%;
}

.aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback div p {
    margin-bottom: 25px;
    padding-left: 30px;
    line-height: 25px;
    font-family: Courier;
}

.aboutus .container-content-aboutus .content-criteria {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutus .container-content-aboutus .content-criteria h3 {
    margin: 80px 0 30px;
}

.aboutus .container-content-aboutus .content-criteria p {
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Avenr', Courier;
    line-height: 25px;
    width: 50%;
}
.aboutus .container-content-aboutus .content-footer {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 30px;
    color: rgb(143, 143, 143);
}

.aboutus .container-content-aboutus .content-footer i:hover {
    color: rgb(88, 88, 88);
}

.aboutus .aboutusFooter {
    position: relative;
    width: 100%;
    height: 650px;
    background-image: url('../img-react/aboutusfooter.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus .aboutusFooter .inshortAboutus .content-footer-aboutus {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.aboutus .aboutusFooter .inshortAboutus .content-footer-aboutus h1 {
    font-size: 45px;
    width: 100%;
    color: #c09440;
    text-align: center;
    font-family: 'Brush Script MT', monospace;
}

.aboutus .aboutusFooter .inshortAboutus .content-footer-aboutus p:nth-child(2) {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 25px;
}

.aboutus .aboutusFooter .inshortAboutus .content-footer-aboutus p:last-child {
    font-size: 18px;
    line-height: 26px;
    text-align:center;
    font-family: 'SVN-DancingScript', monospace;
}

.aboutus .opacity-footer-aboutus {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

.aboutus .aboutusFooter .inshortAboutus {
    height: 80%;
    position: relative;
}

.aboutus .aboutusFooter .inshortAboutus img {
    position: absolute;
    z-index: 9;
    width: 100%;
    bottom: -5px;
}

@media only screen and (max-width: 1200px) {
    .aboutus .container-content-aboutus {
        margin: auto 5%;
    }
    .aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback {
        flex-direction: column;
    }
    .aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback img {
        width: 100%;
    }
    .aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback div {
        margin-top: 50px;
        width: 100%;
    }
    .aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback div p {
        padding-left: 0;
    }
    .aboutus .container-content-aboutus .content-criteria p {
        width: 100%;
        text-align: start;
        padding-left: 20px;
    }
    .aboutus .container-content-aboutus .content-criteria h3 {
        margin-top: 40px;
    }
    .aboutus .aboutusFooter .inshortAboutus .content-footer-aboutus {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 450px) {
    .aboutus .background {
        height: 350px;
    }
    .aboutus .container-content-aboutus .title-content-aboutus h1 {
        margin-top: 50px;
    }
    .aboutus .container-content-aboutus .title-content-aboutus h3 {
        text-align: center;
        line-height: 30px;
        margin-bottom: 45px;
    }
    .aboutus .container-content-aboutus .content-content-aboutus {
        flex-direction: column;
    }
     .aboutus .container-content-aboutus .content-content-aboutus p, .aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback div, .aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback img {
        width: 100%;
    }
    .aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback {
        flex-direction: column-reverse;
    }

    .aboutus .container-content-aboutus .comeback-content-aboutus .content-comeback div {
        padding: 0;
        margin: 0;
    }
    .aboutus .container-content-aboutus .comeback-content-aboutus  {
        margin: 0;
    }

    .aboutus .container-content-aboutus .content-footer {
        width: 80%;
    }
    .aboutus .aboutusFooter .inshortAboutus .content-footer-aboutus  {
        width: 90%;
    }
    .aboutus .aboutusFooter .inshortAboutus .content-footer-aboutus h1 {
        font-size: 35px;
    }
}



