.background {
    position: relative;
    height: 650px;
    width: 100%;
}
.background img:first-child{
    position: absolute;
    width: 100%;
    height: 100%;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 5;
}

.background img:last-child {
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: 10;
}

@media only screen and (max-width: 450px) {
    .background {
        height: 350px;
    }
}