.booking {
    width: 180px;
    height: 160px;
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 8;
}

.booking .container-booking {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.booking .container-booking span {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c334f;
    opacity: 0.8;
}

.booking .container-booking .header-booking {
    padding-top: 20px;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 20%;
    color: #c09440;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    z-index: 3;
    cursor: pointer;
}
.booking .container-booking .header-booking i {
    font-size: 25px;
}

.booking .container-booking .header-booking h5 {
    font-size: 20px;
    padding-right: 20px;
    color: #fff;
}

.header-after-open {
    bottom: 580px;
    height: 50px;
}

.booking .form-booking {
    position: absolute;
    height: 580px;
    width: calc(100% + 200px);
    display: flex;
    flex-direction: column;
}
.booking .form-booking::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c334f;
    opacity: 0.8;
    z-index: -1;
}

.booking .form-booking h3 {
    color: #c09440;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
}
.booking .form-booking .form-info-booking {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    padding-top: 10px;
}
.booking .form-booking .form-info-booking .fa-window-close {
    display: none;
}
.booking .form-booking .form-info-booking div {
    width: 80%;
    color: red;
    padding-bottom: 20px;
    position: relative;
}
.booking .form-booking .form-info-booking div:last-child {
    text-align: center;
    padding-bottom: 100px;
    margin-top: 15px;
}
.booking .form-booking .form-info-booking div:last-child p {
    color: #c09440;
    letter-spacing: 2px;
}
.booking .form-booking .form-info-booking button {
    width: 50%;
    background-color: #c09440;
    color: #fff;
    padding: 7px 0;
    border: 1px solid #fff;
    transition: all .25s;
    border-radius: 20px;
}
.booking .form-booking .form-info-booking button:hover {
    transform: scale(1.1);
}
.booking .form-booking .form-info-booking input, .booking .form-booking .form-info-booking select {
    width: 100%;
    padding: 7px 10px;
    border-radius: 7px;
    background-color: transparent;
    color: rgb(138, 138, 138);
    font-size: 17px;
    border: 1px solid #979797;
    border-radius: 20px;
    position: relative;
    -webkit-appearance: none;
}
.booking .form-booking .form-info-booking div span {
    width: 100%;
    align-items: center;
    display: none;
    padding-left: 20px;
    color: rgb(255, 83, 83);
    margin-top: 5px;
}
.booking .form-booking .form-info-booking div span i {
    font-size: 12px;
}
.booking .form-booking .form-info-booking div span p {
    padding: 0 10px;
}
@media only screen and (max-width: 450px) {
    .booking {
        width: 100px;
        height: 80px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        /* z-index: 8; */
        font-size: 15px;
    }
    .booking .container-booking span {
        border-radius: 10px;
        opacity: 0.9;
    }
    .booking .container-booking .header-booking {
        padding-top: 20px;
    }
    .booking .container-booking .header-booking i {
        font-size: 15px;
    }
    .booking .container-booking .header-booking h5 {
        font-size: 15px;
        padding: 0;
    }
    .booking .form-booking {
        position: fixed;
        top: -337%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 12;
    }
    .booking .form-booking .form-info-booking .fa-window-close  {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: #1c334f;
        background-color: #c09440;
    }
}
