
.container-contact {
    margin-top: 70px;
    width: 40%;
    height: 70%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    height: 550px;
}

.container-contact h1 {
    font-size: 50px;
    font-family: 'Brush Script MT', monospace;
    margin: 20px 0 5px;
}

.container-contact h3 {
    font-size: 15px;
    color: #c09440;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.container-contact .container-menu-contact {
    display: flex;
    width: 100%;
}

.container-contact .container-menu-contact div:nth-child(1), .container-contact .container-menu-contact div:nth-child(2) {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container-contact .container-menu-contact div:nth-child(2) {
    width: 40%;
}

.container-contact .container-menu-contact div:nth-child(2) {
    align-items: flex-end;
}

.container-contact .container-menu-contact p {
    padding: 10px 6% 0;
}

.container-contact .container-menu-contact p span {
    color: #c09440;
}

.container-contact .container-menu-input {
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-contact .container-menu-input div {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.container-contact .container-menu-input div span {
    bottom: 0;
    font-size: 14px;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    width: 100%;
    color: #fff;
    letter-spacing: 2px;
}

.container-contact .container-menu-input input, .container-contact .container-menu-input textarea {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(90, 90, 90);
    /* border-color: red; */
    position: relative;
}

.container-contact .container-menu-input input span {
    position: absolute;
    left: 0;
    bottom: -20px;
}

.container-contact .container-menu-input textarea {
    height: 100px;
    margin-bottom: 0;
}

.container-contact div:last-child {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contact div:last-child button {
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color: #c09440;
    color: #fff;
    border: none;
    z-index: 10;
}

.container-contact div:last-child button:hover {
    background-color: #fff;
    color: #c09440;
    border: 1px solid #c09440;
}
@media only screen and (max-width: 1200px) {
    .container-contact {
        width: 70%;
        height: 70%;
    }
}
    
@media only screen and (max-width: 450px) {
    .container-contact {
        width: 90%;
        height: 90%;
    }
    .container-contact .container-menu-contact {
        flex-direction: column;
    }
    .container-contact .container-menu-contact div:nth-child(1), .container-contact .container-menu-contact div:nth-child(2) {
        width: 100%;
    }
    .container-contact .container-menu-contact div:nth-child(2) {
        align-items: flex-start;
    }
}
