.contact {
    display: flex;
    flex-direction: column;
}

.content-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.footer-contact {
    margin-top: -10px;
    position: relative;
    width: 100%;
}

.footer-contact .img-contact-footer {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-before-footer {
    margin-top: 100px;
}

@media only screen and (max-width: 450px) {
    .footer-contact .img-contact-footer {
        width: 100%;
    }
}