.container-footer {
    position: relative;
    width: 100%;
    background-color: #142945   ;
    color: #fff;
}

.container-footer .footer {
    display: flex;
    margin: auto 12%;
    justify-content: space-between;
    background-image: url('../logo1.svg');
    background-position:center;
    background-size: 100px;
    background-repeat: no-repeat;
}

.container-footer .footer div:nth-child(1), .container-footer .footer .footer-bottom {
    width: 40%;
}

.container-footer .footer div:nth-child(1) h2, .container-footer .footer .footer-bottom h2 {
    color: #c09440;
    font-family: 'Brush Script MT', monospace;
    font-size: 35px;
    margin-bottom: 15px;

}

.container-footer .footer div p, .container-footer .footer div:nth-child(1) div {
    margin-bottom: 30px;
    width: 100%;
}

.footer div:nth-child(1) div i {
    margin-right: 15px;
}

.container-footer .footer div p:nth-child(4) {
    padding-top: 30px;
    border-top: 1px solid #fff;
}

.container-footer .footer .footer-bottom h2, .container-footer .footer .footer-bottom p{
    text-align: right;
}

.container-footer .footer .footer-bottom .div {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    justify-content: flex-end;
}

.container-footer .footer .footer-bottom .div div {
    display: flex;
    width: 80%;
}

.container-footer .footer .footer-bottom .div div input {
    width: 80%;
    padding: 5px;
    padding-left: 15px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.container-footer .footer .footer-bottom .div div span {
    width: 20%;
    background-color: #c09440;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 450px) {
    .container-footer .footer {
        flex-direction: column;
        margin: auto 20px;
        background-image: none;
    }

    .container-footer .footer div:nth-child(1), .container-footer .footer div:nth-child(2) {
        width: 100%;
        text-align: center;
    }

    .container-footer .footer .footer-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container-footer .footer .footer-bottom h2, .container-footer .footer .footer-bottom p {
        text-align: center;
    }
    .container-footer .footer .footer-bottom .div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-footer .footer .footer-bottom .div div input  {
        margin: 0;
    }
    .container-footer .footer .footer-first p:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .container-footer .footer {
        margin: auto 5%;
    }
} 
