.container-selling {
    display: flex;
    flex-direction: column;
}
/* content selling */

.container-selling .container-content-selling .content-selling {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 12.5%;
}

.container-selling .container-content-selling .content-selling h1 {
    margin: 15px 0 20px;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Brush Script MT', monospace;
}

.container-selling .container-content-selling .content-selling h4 {
    padding: 10px  0 80px;
    letter-spacing: 3px;
    color: #c09440;
}

.container-selling .container-content-selling .content-selling div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.container-selling .container-content-selling .content-selling div div {
    width: 30%;
    height: 400px;
    position: relative;
}

.container-selling .container-content-selling .content-selling div div img {
    width: 100%;
    height: 100%;
}

.container-selling .container-content-selling .content-selling div div span {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1c334f;
}

.container-selling .container-content-selling .content-selling div div:hover span {
    animation: hideImgFront 1s ease forwards;
}

@keyframes hideImgFront {
    to {
        display: none;
        opacity: 0;
    }
}

.container-selling .container-content-selling .content-selling div div span h5 {
    position: absolute;
    color: #c09440;
    letter-spacing: 4px;
    bottom: 20px;
}

.container-selling .container-content-selling .content-selling div div span img {
    width: 200px;
}

.container-selling .container-content-selling .content-selling p {
    width: 60%;
    margin: 70px 0 20px;
    text-align: center;
    font-family: "Lucida Sans", sans-serif;
    font-size: 17px;
    display: flex;
    line-height: 25px;
}

@media only screen and (max-width: 1200px) {
    .container-selling .container-content-selling .content-selling h4 {
        text-align: center;
        /* line-height: 30px; */
    }
    .container-selling .container-content-selling .content-selling {
        margin: auto 5%;
    }
    .container-selling .container-content-selling .content-selling div div {
        width: 33%;
    }
}

@media only screen and (max-width: 450px) {
    .container-selling .container-content-selling .content-selling h4 {
        line-height: 30px;
    }
    .container-selling .container-content-selling .content-selling div {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .container-selling .container-content-selling .content-selling div div {
        width: 100%;
    }
    .container-selling .container-content-selling .content-selling p {
        width: 100%;
        margin: 0;
    }
}