video {
    z-index: 99;
    background-color: #000;
    height: 560px;
    width: 700px;
    transform: scale(0);
    animation:  showVideo .5s linear forwards;
}

@keyframes showVideo {
    to {
        transform: scale(1);
    }
}    


@media only screen and (max-width: 450px) {
    video  {
        width: 250px;
        height: 400px;
        padding: 0;
    }
}